body {
    background-image: url("https://images.unsplash.com/photo-1534528229503-36fe8335507a?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

h2 {
    font-family: "Special Gothic Expanded One", sans-serif;
    color: white;
    text-align: center;
    font-size: 25px; 
    letter-spacing: 1.5px;  
    text-shadow: 0 0 0 rgba(0,0,0,0.3);
    margin-left: 5px;
    margin-right: 5px;
}

.text {
    font-family: "Bitcount Single", system-ui;
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
    margin-left: 5px;
    margin-right: 5px;
}

button {
    margin-top: 25px;
    padding: 15px 25px;
    font-family: "Bitcount Single", system-ui;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

@media all and (max-width: 800px) {
    h2 {
        font-size: 18px;
    }

    .text {
        font-size: 20px;
    }
}